body{
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}
#image {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    margin: 0;
}
.typTestContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.mid-section{
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
}

#timer {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instruction {
    color: red;
    font-weight: bold;
}

#result {
    margin-top: 20px;
    padding-bottom: 10px;
    color: red;
}

.word {
    color: red;
    margin-bottom: 5px;
}

.shake-animation {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}